<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<link rel="stylesheet" href="/stylesheets/index.css" />

<main>
  <h1 class="welcome">WELCOME </h1>
  <h2>TO</h2>
  <img src="/images/etc/logo.png" alt="" class="logo-img">
  <p id="description">BeeHungry is an app that keeps track of you and your friends' favorite restaurants. Not sure where to eat ? BeeHungry can help by keeping your favorite restaurants on your radar for your next night out!</p>
  
  <section class="container-index">
    <% if (user?.profile.avatar) { %>
      <div>
        <img
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
          class="avatar"
        />
      </div>
    <% } %>
    <% if (user) { %>
    <h1 class="sign-name">Signed in as: <%=user.profile.name%></h1>
    <a href="/restaurants/your"><button class="index-view">View Your Restaurants Collection</button></a>
    <% }else{ %> 
    
    <a href="/auth/google"><button class="index-view">Click here to sign in!</button></a>
    <% } %> 
    
  </section>
</main>

<%- include('./partials/footer') %>
