<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <main>
      <h1>
        <%= title %>
      </h1>
      <section>
        <div>Name: <%= restaurant.name %>
        </div>
        <div>Price Range: <%= restaurant.priceRange %>
        </div>
        <div>Address: <%= restaurant.address %>
        </div>
        <div>Cuisine: <%= restaurant.cuisine %>
        </div>
        <div>Visited: <%= restaurant.visited ? 'Yes' : 'Nope' %>
        </div>
      </section>

      <% if (restaurant.owner.equals(user?.profile._id)) { %>
      <a href="/restaurants/<%= restaurant._id %>/edit">
        <button>Edit Restaurant</button>
      </a>
      <% } %> 
      
      <% if(restaurant.visited===true){ %>
        <form id="add-prev-visit-form" action="/restaurants/<%= restaurant._id %>/prevVisits" method="POST">
          <label>Date:
            <input type="datetime-local" name="date" id="date-input">
          </label><br>
          <label>Occasion:
            <input type="text" name="occasion" id="occasion-input">
          </label><br>
          <label>Total Billed: $
            <input type="text" name="totalBilled" id="total-billed-input">
          </label><br>
          <label>Special Notes:
            <input type="text" name="specialNotes" id="notes-input">
          </label><br>
          <button type="submit">Submit Previous Visit</button>
        </form>
        <% if (restaurant.prevVisited.length) { %>
          <table>
            <thead>
              <tr>
                <th>Date: </th>
                <th>Occasion:</th>
                <th>Total Billed: $</th>
                <th>Special Notes:</th>
              </tr>
            </thead>
            <tbody>
              <% restaurant.prevVisited.forEach(function(visit) { %>
                <tr>
                  <td>
                    <%= visit.date %>
                  </td>
                  <td>
                    <%= visit.occasion %>
                  </td>
                  <td>
                    <%= visit.totalBilled %>
                  </td>
                  <td>
                    <%= visit.specialNotes %>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
          <% } else { %>
            <h3>No Record of Previous Visit Yet</h3>
            <% } %>

              <% } %>

    </main>




    <%- include('../partials/footer') %>