<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>
    <%= title %>
  </h1>
  <section>
    <div>Name: </div>
        <div>
          <%= restaurant.name %>
        </div>
        <div>Price Range: </div>
        <div>
          <%= restaurant.priceRange %>
        </div>
        <div>Address: </div>
        <div>
          <%= restaurant.address %>
        </div>
        <div>Cuisine: </div>
        <div>
          <%= restaurant.cuisine %>
        </div>
        <div>Visited: </div>
        <div>
          <%= restaurant.visited ? 'Yes' : 'Nope' %>
        </div>
  </section>
</main>

<a href="/restaurants/<%= restaurant._id %>/edit">
  <button>Edit Restaurant</button>
</a>

<% if(restaurant.visited===true){ %> 
  <form 
    id="add-prev-visit-form"
    action="/restaurants/<%= restaurant._id %>/prevVisits"
    method="POST"
  >
  <label>Date:
    <input type="datetime-local" name="date" id="date-input">
  </label><br>
  <label>Occasion:
    <input type="text" name="price" id="occasion-input">
  </label><br>
  <label>Total Billed: $
      <input type="text" name="price" id="total-billed-input">
    </label><br>
  <label>Special Notes:
        <input type="text" name="price" id="notes-input">
  </label><br>
    <button type="submit">Submit Previous Visit</button>
  </form>
<% } %> 






<%- include('../partials/footer') %>